@model AuthorViewModel

<a asp-area="" asp-page="/User" asp-route-id="@Model.Username">
    <span class="text-light m-2">@Model.Username</span>
    <img src="@Model.Avatar" class="img-fluid" alt="@Model.Username's avatar" />
</a>

<badge items="@Model.Roles" class="my-2"></badge>
