@model TopicOfCategoryViewModel

<div class="row forum-topic">
    <a class="col p-2" asp-controller="Forum" asp-action="Topic" asp-route-topicId="@Model.TopicId">
        <div class="row text-white my-1">
            <span class="col"><i class="@Model.ImageUrl m-1"></i> @Model.Title</span>
            <span class="col-auto">@Model.NumberOfReply</span>
            <span class="col-2">@Model.AuthorName</span>
            <span class="col-auto">@Model.CreateDate.ToString("MMM dd, yyyy")</span>
        </div>
    </a>
</div>