@model TopicOfCategoryViewModel
@using Elements.Web.Common

<div class="row forum-topic">
    <a class="col p-2" asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.TopicId">
        <div class="row text-white my-1">
            <span class="col"><i class="@(TopicTypesManager.GetImage(Model.TopicType)) m-1"></i> @Model.Title</span>
            <span class="col-auto"><i class="far fa-comment"></i> @Model.NumberOfReply</span>
            <span class="col-2">@Model.AuthorName</span>
            <span class="col-auto">@Model.CreateDate.ToString("MMM dd, yyyy")</span>
        </div>
    </a>
</div>