@model TopicWithRepliesViewModel
@{
    ViewData["Title"] = "Topic";
}

<div class="row">
    <h1 class="col my-4">@Model.TopicTitle</h1>
</div>
<div class="row bg-white text-dark p-2 my-2">
    <div class="col-2">
        @Html.DisplayFor(m => m.TopicAuthorViewModel)
    </div>
    <div class="col-10 mt-4">
        <div>
            @Model.CreateDate.ToString("dd-MMM, yyyy hh:mm:ss")
        </div>
        @Model.TopicContent
    </div>
</div>

@Html.DisplayFor(m => m.Replies)

@if (this.User.Identity.IsAuthenticated)
{
    <div class="row text-dark p-2">
        <div class="col-10 offset-2">
            <form method="post" asp-controller="Forum" asp-action="AddReply" asp-route-topicId="@Model.Id">
                <div class="row">
                    <div class="col-12">
                        <textarea name="replyContent" rows="4" class="form-control mb-2"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Add reply" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row m-4">
        <div>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-light">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light">Login</a>
        </div>
    </div>
}