@model TopicWithRepliesViewModel
@{
    ViewData["Title"] = "Topic";
}

<div class="row">
    <h1 class="col topic-title">
        @Model.TopicTitle
    </h1>
</div>
<div class="row topic">
    <div class="col-2">
        @Html.DisplayFor(m => m.TopicAuthorViewModel)
    </div>
    <div class="col-10">
        <div class="topic-date">
            @Model.CreateDate.ToString("dd-MMM, yyyy hh:mm:ss")
        </div>
        <div class="topic-content">
            @Model.TopicContent
        </div>
    </div>
</div>

@Html.DisplayFor(m => m.Replies)

@if (this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-10 offset-2">
            <form method="post" asp-controller="Forum" asp-action="AddReply" asp-route-topicId="@Model.Id">
                <div class="row">
                    <div class="col">
                        <textarea name="replyContent" rows="4" class="form-control form-reply"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <input type="submit" value="Add reply" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row login">
        <div class="col-4 offset-4">
            <p>Login to post reply!</p>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-light">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-dark">Login</a>
        </div>
    </div>
}